@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border-radius: 8px;
  /* text-transform:capitalize; */

}

:root {
  --red: rgb(163, 9, 9);
  --white: #fff;
  --black: #000;
  --blue: #037b67;
  --orange: #ffc400;
  --green: rgb(21, 255, 0);
  --sky: rgb(0, 247, 255);
  --box-shadow: 0 2px 10px rgb(144, 128, 128);
  --background: linear-gradient(to bottom, #1b4770, #132e47, #122a41, #151515);
}

html::-webkit-scrollbar {
  display: none;
}

body {
  direction: rtl;
}

.header {
  width: 100%;
  height: 50px;
  padding: 8px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: var(--box-shadow);
  background: var(--white);
  border-radius: 0;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
}

.header .fa-search,
.fa-rotate {
  font-size: 22px;
  color: var(--blue);
  cursor: pointer;
}

.header .pages {
  width: 90%;
  font-size: 16px;
  border-radius: 0;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0px;
}

.header .pages a {
  width: 100%;
  color: var(--blue);
  padding: 10px 0;
  text-align: center;
}

.header .pages a:hover,
.header .pages .hoverd {
  background: var(--background);
  color: var(--white);
}

.header .img-user {
  width: 40px;
  height: 40px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  line-height: 40px;
  cursor: pointer;
}

.container {
  width: 100%;
  padding: 50px 5px;
  margin-bottom: 200px;
}

.container img {
  width: 100%;
  height: 200px;
}


/* any form */
form {
  width: 100%;
  padding: 7px;
  text-align: center;
  margin-top: 10px;
  direction: rtl;
  background: var(--background);
}

input,
select {
  width: 100%;
  height: 40px;
  padding: 5px 30px;
  margin: 5px 0;
  font-size: 20px;
  outline: none;
  border: 1px solid var(--black);
}

.btn_save {
  cursor: pointer;
  background: var(--orange);
  box-shadow: 0px 5px 15px rgba(1, 1, 1, 25%);
  border: none;
}

.form_search {
  display: none;
}

.active_search {
  display: block;
}

.form_search div , .form_insert div {
  position: relative;
  width: 100%;
}

.form_search div a , .form_insert div a {
  font-size: 1.2rem;
  position: absolute;
  top: 13px;
  right: 10px;
}


/* any table */

.parent-table {
  position: relative;
  width: 100%;
  margin-top: 10px;
  font-size: 15px;
}

.MyTable {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  box-shadow: var(--box-shadow);
  overflow: hidden;
}

.MyTable tr {
  color: var(--black);
  border: 1px solid rgba(0, 0, 0, 0.1);
}


.MyTable thead td {
  font-weight: 600;
  padding: 10px;
  border: 1px solid var(--white);
  background: var(--background);
  color: var(--white);
  border-radius: 5px;
}

.MyTable tbody td {
  border: 1px solid rgba(0, 0, 0, 0.1);
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

.MyTable tr:hover {
  cursor: default;
}

.MyTable tbody tr:hover {
  background: var(--blue);
  color: var(--white);
}

.MyTable tbody tr:hover td {
  border: 1px solid var(--white);
}

.MyTable tr a {
  margin: 0 5px;
  font-size: 22px;
  cursor: pointer;
}

.Page_load {
  width: 100%;
  height: 100vh;
  background: var(--white);
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  transition: 0.5s;
  position: fixed;
  z-index: 9;
  top: 0px;
  left: 0px;
}

.Done {
  display: none
}

/* MsgBox */

.Msg-Box {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  text-align: center;
  border-radius: 0;
  align-items: center;
  position: fixed;
  z-index: 30;
  top: -200vh;
  left: 0;
  transition: 0.5s;
  background: #09090929;
}

.active {
  top: 0;
}

.Message {
  width: 90%;
  padding: 20px;
  box-shadow: 0px 5px 15px rgba(1, 1, 1, 25%);
  background: #fff;
  color: var(--blue);
}

.Message i {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 15px;
  background: var(--background);
  color: var(--white);
  border-radius: 50%;
  text-decoration: none;
  font-size: 50px;
  transition: 0.3s;
  cursor: pointer;
}

.Message h1 {
  font-size: 25px;
}

.Message .btn-oky {
  font-size: 25px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
  text-align: center;
  justify-content: space-between;
  padding: 5px;
  margin-top: 10px;
}

.Message .btn-oky a {
  background: var(--orange);
  margin: 0 5px;
  padding: 5px;
}


.Message .loader {
  margin: 15px auto 0;
  width: 90%;
  height: 10px;
  position: sticky;
}

.Message .loader .load {
  width: 0%;
  height: 100%;
  background: var(--background);
  animation: load 0.7s infinite linear;
}

@keyframes load {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

.section3 {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 10px;
  direction: ltr;
  padding-top: 10px;
}

.right {
  width: 100%;
  padding: 10px;
  box-shadow: var(--box-shadow);
}

.parent-power {
  margin-top: 5px;
  padding-top: 5px;
}


.powers {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 5px;
  margin-top: 10px;
  border: 1px solid var(--blue);
  direction: rtl;
}

.left {
  width: 100%;
  padding: 10px;
  text-align: center;
  box-shadow: var(--box-shadow);
  background: var(--background);
  color: var(--white);
  position: relative;
}

.left h2 {
  text-transform: capitalize;
}

.left .fa-pen-to-square {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  color: var(--white);
  cursor: pointer;

}

.left img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 6px solid #eaeaea;
}

.left .div-details {
  margin-top: 50px;
  direction: rtl;
  padding: 10px;
  display: none;
}

.left .details {
  display: flex;
  padding: 10px;
  border: 1px solid var(--white);
  margin: 10px 0;
  align-items: center;
}

.left .details h3 {
  text-align: start;
  width: 50%;
}

.upload {
  width: 150px;
  height: 150px;
  position: relative;
  margin: auto;
}

.upload img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 6px solid #eaeaea;
  position: absolute;
  top: 0;
}

.upload .input-icon {
  background: #000000b9;
  width: 35px;
  height: 35px;
  line-height: 35px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  position: absolute;
  bottom: 0px;
  left: 0px;
}


.upload .input-icon .file {
  position: absolute;
  transform: scale(2);
  opacity: 0;
  cursor: pointer;
}

.upload .input-icon .fa-camera {
  color: #fff;
  font-size: 18px;
}

.p_listname {
  position: relative;
}

.listname {
  background: red;
  width: 100%;
  height: 250px;
  position: absolute;
  top: 50px;
}

.fa-plus,
.ico-search,
.D-User .fa-pen-to-square{
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
  color: var(--white);
  background: var(--background);
  border-radius: 50%;
  border: 1px solid var(--blue);
  text-decoration: none;
  font-size: 1.3rem;
  transition: 0.3s;
  cursor: pointer;
  position: fixed;
  bottom: 70px;
  left: 0;
}

.D-User {
  width: 100%;
  padding: 10px 20px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  box-shadow: var(--box-shadow);
}

.D-User div {
  display: flex;
  align-items: center;
}

.D-User div h1 {
  margin: 0 15px;
  color: var(--blue);
}

.D-User img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.D-User .fa-pen-to-square{
  position: relative;
  bottom: 0px;
  left: 0;
}

.D-User i {
  display: none;
}

@media (max-width:600px) {
  .header .pages {
    width: 100%;
    font-size: 15px;
    position: fixed;
    bottom: 0%;
    right: 0%;
    background: var(--white);
    box-shadow: 0 2px 10px rgba(39, 38, 38, 0.466);
  }

  .header .pages a {
    border-radius: 0px;
  }

  .header .pages a span {
    display: block;
  }

  .parent-table {
    overflow-x: auto;
  }

  .MyTable {
    width: 250%;
  }

  .section3 {
    grid-template-columns: 1fr;
  }
}


@media (max-width:280px) {
  .MyTable tr a {
    margin: 0 1px;
  }
}